{% extends "book_layout.html" %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Book Repository</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
		  <li class="nav-item text-nowrap">
			<a class="nav-link" href="{{ url_for('logout')}}">Sign out</a>
		  </li>
		</ul>
    </nav>
	<div class="container-fluid">
	  <div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		  <div class="sidebar-sticky pt-3">
			<ul class="nav flex-column">
			    <li class="nav-item">
					<a class="nav-link active" href="{{url_for('books')}}">
					  <span data-feather="home"></span>
					  Dashboard <span class="sr-only">(current)</span>
					</a>
			    </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{url_for('books')}}">
					  <span data-feather="file"></span>
					  books
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{url_for('book', book_id=book.id)}}">
					  <span data-feather="users"></span>
					  Book Reviews
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{url_for('book', book_id=book.id)}}">
					  <span data-feather="layers"></span>
					  Add review
					</a>
				  </li>
			  </ul>
			</div>
		</nav>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
			<hr class="featurette-divider">
			<div class="row featurette">
			  <div class="col-md-7">
				<h1 id = "book_title" class="display-4 font-italic">{{book.title}}</h1>
				<p class="lead">Ratings supplied by:  https://www.goodreads.com/book/review_counts.json.  To get these ratings you must signup and acquire a Key.</p>
			  </div>
			  <div class="col-md-5">
			    <div id="reviewChart" style="height: 300px; width: 600px;">
			  </div>
			</div>
			<hr class="featurette-divider">
			<div class="jumbotron p-4 p-md-5 text-black rounded bg-light">
			<div class="col-md-50 px-0">
			   <h1 class="display-4 font-italic">Local Reviews</h1>
			   <p class="lead my-3">{{title}}<span class="text-muted">
			   <p id = "reviewer" class="lead my-1"><span class="text-muted"></p>
			   <p id = "review_date" class="lead my-1"><span class="text-muted"></p>
			   <p id = "review" class="lead my-1"></p>
			   <a href="{{ url_for('reviews', book_id=book.id)}}" method = "POST">
			       <button class="btn btn-success">Add a review</button>
			   <a>
			 </div>
			 <input value={{book}} type="text" hidden="hidden" id="bookvar" />
           </div>
		</main>
	  </div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<script type="text/javascript"src="{{ url_for('static', filename='assets/js/book_stats.js')}}"></script>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
{% endblock %}