{% extends "layout.html" %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %
 <body>
	  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
	  <a class="navbar-brand" href="dashboard.html">DASHBOARD</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			  <a class="nav-link" href="simba.html">Home <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item active">
			<a class="nav-link" href="index.html">Login <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item dropdown active">
			<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Settings</a>
			<div class="dropdown-menu" aria-labelledby="dropdown03">
			  <a class="dropdown-item" href="#">Company Information</a>
			  <a class="dropdown-item" href="#">Operator</a>
			  <a class="dropdown-item" href="#">Activation code</a>
			  <a class="dropdown-item" href="#">Help</a>
			</div>
		  </li>
		  <li class="nav-item dropdown active">
			<a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Materials</a>
			<div class="dropdown-menu" aria-labelledby="dropdown03">
			  <a class="dropdown-item" href="#">Add/Edit Materials</a>
			  <a class="dropdown-item" href="#">Purchase Order Create </a>
			  <a class="dropdown-item" href="#">Purchase Order Search </a>
			  <a class="dropdown-item" href="#">Purchase Order Reconsile </a>
			</div>
		  </li>
		  <li class="nav-item dropdown active">
			<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product Build</a>
			<div class="dropdown-menu" aria-labelledby="dropdown03">
			  <a class="dropdown-item" href="#">Product Search</a>
			  <a class="dropdown-item" href="#">Kitting & SKU</a>
			  <a class="dropdown-item" href="#">Define Bar codes</a>
			  <a class="dropdown-item" href="#">Product Support</a>
			</div>
		  </li>
		  <li class="nav-item dropdown active">
			<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sales</a>
			<div class="dropdown-menu" aria-labelledby="dropdown03">
			  <a class="dropdown-item" href="#">Cash Registor</a>
			  <a class="dropdown-item" href="#">Invoice Builder</a>
			  <a class="dropdown-item" href="#">Quotes</a>
			</div>
		  </li>
		  <li class="nav-item dropdown active">
			<a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inventory</a>
			<div class="dropdown-menu" aria-labelledby="dropdown03">
			  <a class="dropdown-item" href="#">User Login</a>
			  <a class="dropdown-item" href="#">Add User</a>
			  <a class="dropdown-item" href="#">Delete User</a>
			</div>
		  </li>
		  <li class="nav-item dropdown active">
			<a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Expences</a>
			<div class="dropdown-menu" aria-labelledby="dropdown03">
			  <a class="dropdown-item" href="#">User Login</a>
			  <a class="dropdown-item" href="#">Add User</a>
			  <a class="dropdown-item" href="#">Delete User</a>
			</div>
		  </li>
		  <li class="nav-item dropdown active">
			<a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
			<div class="dropdown-menu" aria-labelledby="dropdown03">
			  <a class="dropdown-item" href="#">User Login</a>
			  <a class="dropdown-item" href="#">Add User</a>
			  <a class="dropdown-item" href="#">Delete User</a>
			</div>
		  </li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
		  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
		  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	  </div>
	</nav>

<main role="main">

  <!-- Main jumbotron  -->
 <div class="jumbotron" >
	<div class="container">
	    <img src="images/image2961.png" class="img-fluid"; "max-width: 100%;" height auto" ;alt="Responsive image">
		<img src="images/image3001.png" class="img-fluid"; "max-width: 100%;" height auto" ;alt="Responsive image">
	    <div class="d-none d-lg-block">
		    <p>This is a the start of the new SIMBA Pro Web Based application. It's purpose is to replace an existing Windows Based database application that I have created. I am a Windows applications developer and I would like to also become a Web applications developer. This will be my project0 submission.</p>
	    </div>
	</div>
 </div>

  <div class="container">
    <!-- row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Products</h2>
		<ol>
			<li>Product Build</li>
			<li>Product Pricing</li>
			<li>SKU's and barcodes</li>
			<li>Inventory</li>
		</ol>
       <p><a class="btn btn-secondary" href="products.html" role="button">Go to Products &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Sales</h2>
		<ol>
			<li>Cash Resister</li>
			<li>Sales transations</li>
			<li>Sales History</li>
			<li>Product sheet.</li>
		</ol>
        <p><a class="btn btn-secondary" href="sales.html" role="button">Go to Sales &raquo;</a></p>
      </div>
	  <div class="col-md-4">
        <h2>Marketing</h2>
        <ol>
			<li>Customers</li>
			<li>Find Customers</li>
			<li>Social Media</li>
			<li>Traditional Media</li>
		</ol>
		<p><a class="btn btn-secondary" href="marketing.html" role="button">Goto Marketing &raquo;</a></p>
      </div>
      <div class="col-md-4">
         <h2>Invoicing</h2>
		 <ol>
			<li>Invoice Items.</li>
			<li>New Invoice</li>
			<li>Search Invoice</li>
			<li>Reconsile Invoice</li>
        </ol>
        <p><a class="btn btn-secondary" href="invoicing.html" role="button">Go to Invoicing &raquo;</a></p>
      </div>
	   <div class="col-md-4">
        <h2>Reports</h2>
		<ol>
			<li>Expence Report</li>
			<li>Inventory Report</li>
			<li>Tax Report</li>
			<li>Vendor comparison</li>
		</ol>
		<p><a class="btn btn-secondary" href="dashboard.html" role="button">Go to Reporst. &raquo;</a></p>
	</div>
	   <div class="col-md-4">
        <h2>Expenses</h2>
        <ol>
			<li>Add Expense Items</li>
			<li>Search Expenses</li>
			<li>Reconsile Expences</li>
        </ol>
		<p><a class="btn btn-secondary" href="expenses.html" role="button">Go to Expenses &raquo;</a></p>
      </div>
	</div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}

<footer class="container">
  <p>&copy; Simba Program INC 2018-2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script></body>
</html>
