<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<link rel=File-List href="index_files/filelist.xml">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/ats_16X16.ico') }}">	
	<title>SIMBA Books</title>	
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="All books page">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
   
   <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dashboard.css') }}">
  </head>
    <body>
        {% block body %}
        {% endblock %}
	</body>
</html>